/** Selector universal */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: "Domine", serif;
}

a {
    text-decoration: none;
    color: black;
}

/* Componentes */
.boton {
    background-color: aqua;
    color: black;
    padding: 5px 10px;
    font-size: 15px;
    border-radius: 8px;
}



/* Header */
header {
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    font-size: 30px;

}
header a {
    color: #ffffff;
}

header.logo {
    display: flex;
    align-items: center;
    
}



/* Navbar */

.navbar ul {
    font-size: 18px;
    list-style-type: none;
    display: flex;
    align-items: center;
    }

.navbar ul li {

    margin: 0 10px;
    height: 10px;
    }
    
    /* Pantallas pequeñas */
.content-wrapper {
    display: flex;
    flex-direction: row;
}

/* Pantallas medianas en adelante: layout en dos columnas */
@media (min-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }
}




/* INICIO */

/* Banner */
#banner .d-item {
    height: 500px;
}

.d-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.nosotros {
    text-align: justify;
    line-height: 2em ;
}

/* Navbar */
nav ul {
    list-style-type: none;
}

/* Footer */