// VARIABLES
$color-negro: #000;
$color-blanco: #fff;
$color-whatsapp: #25d366;
$color-whatsapp-hover: #1ebe5d;
$color-contacto: rgb(170, 168, 168);
$font-principal: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$font-secundaria: "Domine", serif;